*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transform: .2s linear;
    }
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color:  #F0F0F0;
}
.inicio{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
    background: rgb(255, 255, 0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.logo{
    width: 90px;
    height: 90px;
}
.logo img{
    width: 100%;
}
.inicio .menu-site a{
    color: black;
    font-size: 1.7rem;
    margin: 0 1rem;
    font-weight: 600;
}
.inicio .menu-site a:hover{
    color: #FFA500 ;
}
.tinicio .icons div{
    color: #fff;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
}
.inicio .icons div:hover{
    color: yellow;
}
#menu{
    display: none;
    color: black;
}
#menu:hover{
    color: blue;

}
@media(max-width:768px){
    .inicio .icons #menu{
        display: inline-block;
    }
    .inicio .menu-site{
        position: absolute;
        top: 110%;
        right: 110%;
        width: 30rem;
        background-color: yellow;
        border-radius: .5rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    }
    .inicio .menu-site.active{
        right: 2rem;
        transition: .4s linear;
    }
    .inicio .menu-site a{
        display: block;
        font-size: 2rem;
        margin: 2rem 2.5rem;
    }
    .msflix-destaque .slide .content h3{
        font-size: 4rem;
    }
    .inicio .menu-site a{
        color: black;
        border-bottom: 1px solid blue;
        border-bottom-style:dotted ;
    }
}
