@media(max-width:750px){
    .template1{
        display: block;
    }
    .template2{
        display: block;
    }
}
* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F2E3B6;
}
h3{
    color: #A69F3F;
}
header{
    width: 100%;
    background-color: white;
    border-radius: 20px;
}
header > #logo{
    width: 300px;
    height: 190px;
    border-radius: 20px;
    display: block;
    margin: 0 auto; /*este comando centraliza*/
}
header > #burguer{
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    cursor: pointer; 
}
header > menu{
    display: none;
    text-align: center;
    padding: 10px;
} 
#lista1{
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid black;
    list-style-type: none;
}
#lista1:hover{
    background-color: #F2E3B6;
    font-size: 22px;
    transition: 0.7s;
    cursor: pointer;
}
a{
    color: black;
    text-decoration: none;
}
main{
    padding: 5%;
}
.template1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 20px;
    height: 400px;
}
#fotosT1{
    padding-left: 60px;
    } 
#fotosT1 > img{
    width: 200px;
    height: 200px;
}
#carrinho{
    color: #A69F3F;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.template2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    height: 400px;
}
#fotosT2{
    padding-left: 60px;
} 
#fotosT2 > img{
    width: 200px;
    height: 210px;
}
.seeMore{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}
.seeMore > .btn{
    width: 120px;
    height: 30px;
    background-color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.template3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    height: 400px;
}
.info{
    padding-left: 60px;
}
.logo2{
    width: 180px;
    border-radius: 700px;
    border: 4px solid #A69F3F;
}
#sociais{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
