* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.inicio{ /* cabeçalho, barra */
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 9%;
    z-index: 1000;
    background: #e7e5c5;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.inicio .logo{
    width: 150px;
    height: 150px;
}
.inicio .logo img{
    width: 100%;
}
/*inicio estilização da barra de pesquisa*/
.search-bar {
    flex: 1;
    text-align: center;
}
.search-form {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 350px;
}
.search-form input[type="search"] {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.search-form button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
} 
/*Final barra de pesquisa*/

/*Inicio do menu*/
.inicio .menu-site a{
    color: black;
    font-size: 1.0rem;
    margin: 0 1rem;
    font-weight: 600;
    text-decoration: none;
}
.inicio .menu-site a:hover{
    color: #A69F3F ;
}
.inicio .icons div{
    color: #fff;
    font-size: 2.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
}
.inicio .icons div:hover{
    color: #A69F3F;
}
#menu{
    display: none;
    color: black;
}
#menu:hover{
    color: #A69F3F;

}
/*Final do menu*/

main{
    background-color: rgb(252, 252, 252);
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.conteudo{
    display: flex;
    padding: 20px;
    width: 300px;
    height: 350px;

}
.conteudo .produtos{
    border: 1px solid rgb(77, 76, 76);
    box-shadow: 3px 3px 3px rgb(121, 120, 120);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}
.conteudo .produtos .image{
    width: 280px;
    height: 150px;
    margin: auto;
}
.conteudo .produtos .image .product-image{
    width: 100%;
    height: 100%;
    object-fit: contain; /*para imagem caber no espaço definido*/
}
.conteudo .produtos .title{
    font-size: 20px;
    text-align: center;
}
.conteudo .produtos .details{
    text-align: center;
}
.conteudo .produtos .details p{
    font-size: 20px;
    margin: 15px;
}
.conteudo .produtos .details p span{
    color: green;
}
/*Botão Comprar*/

.conteudo .produtos .details a{
    text-decoration: none;
    background:  #a69f3fc2;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    padding: 8px 45px;
    margin: 15px;
}
/*Efeito no botão ao passar o mouse*/
.conteudo .produtos .details a:hover{
    background-color: #A69F3F;
    font-size: 1.2rem;
    transition: 0.7s;
}
/*Detalhes abaixo do botão de compra*/
.mais-info{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.mais-info a{
    color: rgb(69, 69, 241);
    text-decoration: none;
}
/*icone do carriho*/
#icone-main{
    color: white;
    padding-right: 5px;
}

.see-more{
    background:  #a69f3fc2;
    border-radius: 8px;
    padding: 5px 20px;
    margin: 15px;
    text-align: center;
}
.see-more a{
    text-decoration: none;
    color: black;
}

/*Rodapé*/

.rodape{
    background-color: #A69F3F;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    height: 100%;
    width:100%;
    margin: auto;
    align-items: stretch; /*Estica os ítens para preencher o container*/
    padding-top: 50px;
    padding-bottom: 20px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px); /*mantem a tela dividida com porcentagem, igualmente*/
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: 100%;
    background-color: black;
    padding-bottom: 10px;
    text-align: center;
}

@media(max-width:768px){ /*MOBILE*/
    /*MENU Hamburguer responsivo*/
    .inicio .logo{
        width: 90px;
        height: 90px;
    }
    .search-form{
        max-width: 150px;
    }
    .inicio .icons #menu{
        display: inline-block;
    }
    .inicio .menu-site{
        position: absolute;
        top: 110%;
        right: 110%;
        width: 15rem;
        background-color: #e7e5c5;
        border-radius: .5rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    }
    .inicio .menu-site.active{
        right: 2rem;
        transition: .4s linear;
    }
    .inicio .menu-site a{
        display: block;
        font-size: 1rem;
        margin: 1.5rem 2rem;
    }
    #menu{
        width: 30px;
    }
    /*Mobile do corpo*/
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .see-more{
        width: 250px;
        margin: 0 auto;
        margin-bottom: 2%;
    }
    /*Rodapé Responsivo*/
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
        display: flex;
        flex-direction: column;
        
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
}