* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.inicio{ /* cabeçalho, barra */
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 9%;
    z-index: 1000;
    background: #e7e5c5;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.inicio .logo{
    width: 150px;
    height: 150px;
}
.inicio .logo img{
    width: 100%;
}
/*inicio estilização da barra de pesquisa*/
.search-bar {
    flex: 1;
    text-align: center;
}
.search-form {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 350px;
}
.search-form input[type="search"] {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.search-form button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
} 
/*Final barra de pesquisa*/
.inicio .menu-site a{
    color: black;
    font-size: 1.0rem;
    margin: 0 1rem;
    font-weight: 600;
    text-decoration: none;
}
.inicio .menu-site a:hover{
    color: #A69F3F ;
}
.inicio .icons div{
    color: #fff;
    font-size: 2.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
}
.inicio .icons div:hover{
    color: #A69F3F;
}
#menu{
    display: none;
    color: black;
}
#menu:hover{
    color: #A69F3F;

}
main{
    background-color: white;
    width: 100%;
    height: 100%;
    margin-top: 12rem;
    display: grid;
}
.template1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    padding-top: 2%;
}
.fotos{
    display: grid;
    width: 25%;
    align-items: center;
    justify-content: center;
} 
.fotos > .img{
    width: 200px;
    height: 150px;
}
.fotos > .img > #produto{
    width: 100%;
}
.fotos > .descricao{
    width: 200px;
}
#icone-main{
    color: #A69F3F;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.template2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seeMore{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}
.seeMore > .btn{
    width: 120px;
    height: 30px;
    background-color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.template3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    height: 400px;
}
.info{
    padding-left: 60px;
}
.logo2{
    width: 180px;
    border-radius: 50%;
    border: 4px solid #A69F3F;
}
#list{
    text-decoration: none;
    color: black;
    font-size: 18 px;
}
#sociais{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

@media(max-width:768px){
    .inicio .icons #menu{
        display: inline-block;
    }
    .inicio .menu-site{
        position: absolute;
        top: 110%;
        right: 110%;
        width: 30rem;
        background-color: #e7e5c5;
        border-radius: .5rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    }
    .inicio .menu-site.active{
        right: 2rem;
        transition: .4s linear;
    }
    .inicio .menu-site a{
        display: block;
        font-size: 1.5rem;
        margin: 2rem 2.5rem;
    }
}